i-quaternion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

i-quaternion span {
  width: 75px;
}

i-quaternion input {
  width: auto;
}

i-quaternion input:read-only {
  outline: none;
  border: none;
}