i-dashboard-application {
  padding: 1rem;
  margin: 0;
  width: 100%;
  display: block;
  background-color: #1b1845;
  color: #fcfdff;
  height: 100%;
  min-height: 100%;
}

i-dashboard-application i-grid-panel {
  height: 100%;
}

i-dashboard-application input {
  border-color: #2b72de;
  background-color: #292864;
  color: #fcfdff;
  padding: 0.25rem;
  width: 100%
}

i-dashboard-application i-flex-panel {
  background-color: #2b2968;
  border-radius: 0.5rem;
}