intention-led {
  display: flex;
  gap: 0.5rem;
}

intention-led .led {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

intention-led .led {
  background-color: gray;
}

intention-led.on .led {
  background-color: green;
}

